<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="parent">

<form (ngSubmit)=onAddItem(add) #add="ngForm" > 
        <div class="formGroup" class="col-sm-8">
        <label>Enter your Full Name</label>
        <input type="text"
        class="form-control form-control-sm " 
        placeholder="Enter Full Name"
        ngModel 
        name="name" 
        required 
        #name="ngModel">
        <span class="text-danger" *ngIf="!name.valid && name.touched">Please enter FullName</span>
        
</div>
<div class="formGroup col-sm-8">
    <label>Email address</label>
            <input type="email" 
            class="form-control form-control-sm"
            placeholder="Enter email" 
            ngModel 
            name="email" 
            required
            email
            #email="ngModel">
            <span class="text-danger" *ngIf="!email.valid && email.touched">Please enter a valid Email</span>
        </div>
        <div class="formGroup col-sm-8">
            <label >Password</label>
            <input [type]="showPassword ? 'text' : 'password'"
            class="form-control form-control-sm pwd-control"
             placeholder="Password"
              ngModel
               name="password"
                minlength="6" 
                #password="ngModel" 
                required>
                <div>
                    <i alt="show" class="far fa-eye eye-show"
                       (click)="showPassword = !showPassword"
                       [class.hide]="showPassword"></i>
                    <i alt="hide" class="far fa-eye-slash eye-hide"
                       (click)="showPassword = !showPassword"
                       [class.hide]="!showPassword"></i>
                    </div>
        

            <span class="text-danger" *ngIf="!password.valid && password.touched">please Enter a valid password</span>
            
            </div>
            <br>

        <button 
        class="btn btn-primary"
        type="submit" [disabled]="!add.valid">{{ editMode ? "Update" : "Add" }}</button>
</form>

</div>
