input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.parent{
    margin-left: 300px;
    margin-top: 30px;
   
}
.hide {
    display: none;
  }
  
  .inner-addon .fa {
    padding: 10px 15px;
    z-index: 100;
    cursor: pointer;
  }
  .left-addon .fa  { left:  0px; }
  .right-addon .fa { right: 0px; }
   
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }

  .icon{
    border: 1px solid gray;
  }
 

