<!--Loader Div Starts-->
<!-- <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"*ngIf="loader" >
  <span class="visually-hidden">Loading...</span>
</div> -->

<!-- <div  *ngIf="loader" id="myModal" class="modal">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div> -->
<!-- Loader Div Ends -->


<app-navbar></app-navbar>
<div>
  <router-outlet></router-outlet>
</div>
