
<div  *ngIf="loader" id="myModal" class="modal">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- Loader Div Ends -->


<app-user-alert [statusMessage]="statusUpdate" *ngIf="statusUpdate" (okay)="onHandleErr()"></app-user-alert>
<div class="parent">
    <form (ngSubmit)="onAddUser(add1)" #add1="ngForm">

        <!-- NAME SECTION -->
        <div class="formGroup" class="col-sm-8">
            <label>Enter your Full Name</label>
            <input type="text" class="form-control form-control-sm " placeholder="Enter Full Name" ngModel name="name"
                required #name="ngModel">
            <span class="text-danger" *ngIf="!name.valid && name.touched">Please enter FullName</span>
        </div>
        <!-- EMAIL SECTION -->
        <div class="formGroup col-sm-8">
            <label>Email address</label>
            <input type="email" class="form-control form-control-sm" placeholder="Enter email" ngModel name="email"
                required email #email="ngModel">
            <span class="text-danger" *ngIf="!email.valid && email.touched">Please enter a valid Email</span>
        </div>


        <!-- User or Admin RadioButtons -->
        <p>User Role</p>
<input type="radio" value="admin" ngModel name="role" #role="ngModel"> <label for="admin">Admin</label> 
<input type="radio" value="user" ngModel name="role" #role="ngModel"> User
<br>
<br>

        <!-- PASSWORD SECTION -->
        <!-- <div class="formGroup col-sm-8"> -->

        <label>Password</label>

        <div class="form-group inner-addon right-addon col-sm-8">
            <div class="input-group col-6 mx-auto">
                <input [type]="showPassword ? 'text' : 'password'" class="form-control pwd-control" #password="ngModel"
                    placeholder="Password" ngModel name="password" minlength="6" required>
                <div class="icon">
                    <i alt="show" class="fa fa-eye eye-show" (click)="showPassword = !showPassword"
                        [class.hide]="showPassword"></i>
                    <i alt="hide" class="fa fa-eye-slash eye-hide" (click)="showPassword = !showPassword"
                        [class.hide]="!showPassword"></i>
                </div>
            </div>

        </div>
        <span class="text-danger" *ngIf="!password.valid && password.touched">please Enter a valid
            password</span>
            <br>
        <!-- <span class="text-danger" *ngIf="!password.valid && password.touched">please Enter a valid
            password</span>
        <br> -->

        <!-- CONFIRM PASSWORD SECTION -->
        <!-- <div class="formGroup col-sm-8"> -->
        <label>Password</label>
        <div class="form-group inner-addon right-addon col-sm-8">
            <div class="input-group col-6 mx-auto">
                <input [type]="showPassword ? 'text' : 'password'" class="form-control pwd-control" #confirmPassword="ngModel"
                    appCheckPassword="password" placeholder="Password" ngModel name="confirmPassword" minlength="6"
                    required>

                <div class="icon">
                    <i alt="show" class="fa fa-eye eye-show" (click)="showPassword = !showPassword"
                        [class.hide]="showPassword"></i>
                    <i alt="hide" class="fa fa-eye-slash eye-hide" (click)="showPassword = !showPassword"
                        [class.hide]="!showPassword"></i>
                </div>
            </div>
            
                <span class="text-danger" *ngIf="!confirmPassword.valid && confirmPassword.touched ">please Enter a
                    valid password</span><br>
                <span class="text-danger"
                    *ngIf="!confirmPassword.valid && confirmPassword.errors?.['notEqual']">Password does not
                    match</span>

            <button class="btn btn-primary" type="submit" [disabled]="!add1.valid">{{"Add"}}</button>
        </div>