<app-edit-user></app-edit-user>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="list-group col-xs-10">
                <a style="cursor: pointer;"
                class="list-group-item" *ngFor="let user of userListItems; let i=index"
                (click)="onEditItem(i)">
                    <h4 class="content">{{user.name}}</h4>
                    <p class="content">{{user.email}}</p>
                </a>
            </div>
        </div>
    </div> 
    <div>
    </div>
    
