.row{
    margin-top: 30px;
    margin-left: 300px;
}
.content{
    margin-top: 0px;
    margin-bottom: 0px;
}
.welcome{
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
}
.welcomeWord{
    margin-left: 10px;
}
.lgbtn{
    border: 1px solid gray;
    margin-top: 0px;
    margin-right: 10px;
}